<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets filter='cssrewrite'
        		'%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
        		'%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'
        		'@MikeCharacterBundle/Resources/public/css/custom.css'
        	%}
        	<link rel="stylesheet" href="{{ asset_url}}"/>
        	{% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	    <nav class="navbar navbar-default">
		    <div class="container">
		        <ul class="nav navbar-nav">
			        <li><a href="/types">Character Types</a><li>
			        <li><a href="/attributes">Attributes</a></li>
			        <li><a href="/characters">Characters</a></li>
			        <li><a href="/characterattributes">Character Attributes</a></li>
		        </ul>
		    </div>
		</nav>

	    <div class="container">
		    <h3>Extremely Fun Peace Time</h3>
	        {% block body %}{% endblock %}
	    </div>

        {% block javascripts %}
        	{% javascripts
        		'%kernel.root_dir%/../vendor/components/jquery/jquery.js'
        		'%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'
        	%}
        	<script src="{{ asset_url }}"></script>
        	{% endjavascripts %}
        {% endblock %}
    </body>
</html>
