{% extends '::base.html.twig' %}
{% block title -%}New Character Attribute{% endblock %}

{% block body -%}
    <h1>New Character Attribute</h1>

    {{ form(form) }}

    <a class="btn btn-default btn-xs" href="{{ path('characterattributes') }}">
        Back
    </a>
{% endblock %}
