{% extends '::base.html.twig' %}
{% block title -%}New Attribute{% endblock %}

{% block body -%}
    <h1>New Attribute</h1>

    {{ form(form) }}

    <a class="btn btn-default btn-xs" href="{{ path('attributes') }}">
        Back
    </a>
{% endblock %}
